nav {
    display: flex;
    justify-content: center;
}

nav a{
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: darkgrey;
}

.active {
    background-color: black;
    color: white;
}